@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
  --font-serif: "Playfair Display", "Georgia", serif;
  
  --color-veritas-green: #1b3022;
  --color-veritas-cream: #f9f7f2;
  --color-veritas-red: #A62626;
  --color-veritas-gray: #4A4A4A;
}

@layer base {
  body {
    @apply font-sans bg-veritas-cream text-veritas-green;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
